<div>
  <button (click)="addNewEntry()" color="primary" mat-stroked-button> Neue Akte anlegen</button>
  <button (click)="administrate()" color="warn" mat-stroked-button> Administration</button>
  <button (click)="logout()" color="warn" mat-stroked-button> Abmelden</button>
  <button (click)="about()" color="primary" mat-button>Info</button>
  <button (click)="getSupport()" color="primary" mat-stroked-button matTooltip="Info über das Programm aufrufen">Support
  </button>
  <button (click)="getDocu()" color="primary" mat-stroked-button matTooltip="Info über das Programm aufrufen">
    Dokumentation
  </button>
  <!-- span> Angemeldet als  {{currentUser.firstName}} {{currentUser.lastName}}</span -->
</div>

<div class="example-container mat-elevation-z8">
  <table [dataSource]="dataSource" mat-table>

    <ng-container matColumnDef="filenumber">
      <th *matHeaderCellDef mat-header-cell> Aktennummer</th>
      <td *matCellDef="let element" mat-cell> {{element.filenumber}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell> Aktenname</th>
      <td *matCellDef="let element" mat-cell> {{element.name}} </td>
    </ng-container>

    <ng-container eleme matColumnDef="editor">
      <th *matHeaderCellDef mat-header-cell> Bearbeiter</th>
      <td *matCellDef="let element" mat-cell>
        <!-- div *ngIf="getUser(element.userId) | async as user"> {{user?.lastName}} </div-->
        {{element.userId}}
      </td>
    </ng-container>

    <ng-container matColumnDef="thema">
      <th *matHeaderCellDef mat-header-cell> Thema</th>
      <td *matCellDef="let element" mat-cell>  {{element.issue}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th *matHeaderCellDef mat-header-cell> Datum</th>
      <td *matCellDef="let element" mat-cell>  {{element.date | date: "dd.MM.yyyy hh:mm"}} </td>
    </ng-container>

    <ng-container matColumnDef="ansicht">
      <th *matHeaderCellDef mat-header-cell> Ansicht</th>
      <td *matCellDef="let element" mat-cell matTooltip="Akte sichten">
        <button class="nav-link" color="primary" mat-mini-fab
                routerLink="/overview/{{element.id}}">
          <mat-icon>folder</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th *matHeaderCellDef mat-header-cell> Bearbeiten</th>
      <td *matCellDef="let element" mat-cell matTooltip="Akte bearbeiten, löschen oder archvieren">
        <button class="nav-link" color="primary"
                mat-mini-fab routerLink="/akte/{{element.id}}">
          <mat-icon>border_color</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th *matHeaderCellDef mat-header-cell> Löschen</th>
      <td *matCellDef="let element" mat-cell matTooltip="Akte löschen">
        <button (click)="deleteFile(element.id)" color="primary" mat-mini-fab>
          <mat-icon> delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

  </table>
  <mat-paginator [pageSizeOptions]="[15, 30, 45]"
                 aria-label="Select page of periodic elements"
                 showFirstLastButtons>
  </mat-paginator>
</div>



