<div class="admin-buttons">
  <button mat-stroked-button color="primary" (click)="gotoFileList()" matTooltip="Aktenliste aufrufen">Aktenliste
  </button>
  <button mat-stroked-button color="primary" (click)="gotoArchivList()" matTooltip="Aktenliste aufrufen">Archivliste
  </button>

  <button mat-stroked-button color="primary" (click)="logout()" matTooltip="aktuellen Benutzer abmelden">Abmelden
  </button>
  <button mat-stroked-button color="primary" (click)="about()" matTooltip="Info über das Programm aufrufen">Info
  </button>
  <button mat-stroked-button color="primary" (click)="getSupport()" matTooltip="Info über das Programm aufrufen">Support
  </button>
</div>
<h2>Benutzermanagement</h2>
<div class="user-container">
  <div>
    System Benutzer
    <button mat-mini-fab color="primary" (click)="addUserDialog()">
      <mat-icon>add_person</mat-icon>
    </button>
  </div>
  <div>
    <table>
      <thead>
      <tr>
        <th scope="col">Benutzer</th>
        <th scope="col">Bearbeiten</th>
        <th scope="col">Löschen</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users | async">
        <td>
          {{user.username2}}
        </td>
        <td>
          <button mat-mini-fab color="primary" (click)="editUserDialog(user)">
            <mat-icon matListItemIcon> person</mat-icon>
          </button>
        </td>
        <td>
          <button mat-mini-fab color="primary" (click)="deleteLogin()">
            <mat-icon matListItemIcon> delete</mat-icon>
          </button>
        </td>
      </tr>
      </tbody>

    </table>
  </div>

</div>
<h2> System Management </h2>
<div class="system-container">
  <mat-form-field>
    <mat-label> Sprachen </mat-label>
    <mat-select [formControl]="languageFormControl" required>
      <mat-option *ngFor="let  lang of languages | async" [value]="lang"> {{lang.name}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
