<div class="admin-buttons">
  <button (click)="gotoFileList()" color="primary" mat-stroked-button matTooltip="Aktenliste aufrufen">Aktenliste
  </button>
  <button (click)="gotoArchivList()" color="primary" mat-stroked-button matTooltip="Aktenliste aufrufen">Archivliste
  </button>

  <button (click)="logout()" color="primary" mat-stroked-button matTooltip="aktuellen Benutzer abmelden">Abmelden
  </button>
  <button (click)="about()" color="primary" mat-stroked-button matTooltip="Info über das Programm aufrufen">Info
  </button>
  <button (click)="getSupport()" color="primary" mat-stroked-button matTooltip="Info über das Programm aufrufen">Support
  </button>
  <button (click)="getDocu()" color="primary" mat-stroked-button matTooltip="Info über das Programm aufrufen">
    Dokumentation
  </button>
  <span>
    Angemeldet als {{currentUser.firstName}} {{currentUser.lastName}}
  </span>
</div>

<h2>Benutzermanagement</h2>
<div class="user-container">
  <div>
    System Benutzer
    <button (click)="addUserDialog()" color="primary" mat-mini-fab>
      <mat-icon>add_person</mat-icon>
    </button>
    <button (click)="changePassword()" color="primary" mat-button>
      Reset Password
    </button>
  </div>
  <div>
    <table>
      <thead>
      <tr>
        <th scope="col">Benutzer</th>
        <th scope="col">Bearbeiten</th>
        <th scope="col">Löschen</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users | async">
        <td>
          {{user.username2}}
        </td>
        <td>
          <button (click)="editUserDialog(user)" color="primary" mat-mini-fab>
            <mat-icon matListItemIcon> person</mat-icon>
          </button>
        </td>
        <td>
          <button (click)="deleteLogin(user)" color="primary" mat-mini-fab>
            <mat-icon matListItemIcon> delete</mat-icon>
          </button>
        </td>
      </tr>
      </tbody>

    </table>
  </div>

</div>
<h2> System Management </h2>
<div class="system-container">
  <mat-form-field>
    <mat-label> Sprachen</mat-label>
    <mat-select [(value)]="selectedLang" [formControl]="languageFormControl" required>
      <mat-option *ngFor="let  lang of languages | async" [value]="lang"> {{lang.name}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
