<div class="container">
  <form class="form-control" style="background-color: azure;">
    <form class="form-group">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input type="text"
               matInput
               [value]="lastName"
        >
      </mat-form-field>
    </form>

    <form class="form-group">
      <mat-form-field>
        <mat-label>Vorname</mat-label>
        <input type="text"
               matInput
               [value]="firstName">
      </mat-form-field>
    </form>

    <form class="form-group">
      <mat-form-field>
        <mat-label>Login</mat-label>
        <input type="text"
               matInput
               [value]="username2">
      </mat-form-field>
    </form>

    <form class="form-group">
      <mat-form-field>
        <mat-label>Rolle</mat-label>
        <input type="text"
               matInput
               [value]="role">
      </mat-form-field>
    </form>

    <form class="form-group">
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input type="password"
               matInput
               [value]="password2">
      </mat-form-field>
    </form>

  </form>
  <form>
    <button mat-stroked-button (click)="saveLogin()" style="align-self: center"> Speichern</button>
    <button mat-stroked-button (click)="abort()" style="align-self: center"> Abbrechen</button>
  </form>
</div>
