<div class="container">
  <form class="form-control" style="background-color: azure;">
    <form class="form-group">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input [(ngModel)]="lastName"
               matInput
               name="lastName" type="text"
        >
      </mat-form-field>
    </form>

    <form class="form-group">
      <mat-form-field>
        <mat-label>Vorname</mat-label>
        <input [(ngModel)]="firstName"
               matInput
               name="firstName" type="text">
      </mat-form-field>
    </form>

    <form class="form-group">
      <mat-form-field>
        <mat-label>E-Mail</mat-label>
        <input [(ngModel)]="email"
               matInput
               name="email" type="text">
      </mat-form-field>
    </form>

    <form class="form-group">
      <mat-form-field>
        <mat-label>Login</mat-label>
        <input [(ngModel)]="username"
               matInput
               name="username" type="text">
      </mat-form-field>
    </form>

    <form class="form-group">
      <mat-form-field>
        <mat-label>Rolle</mat-label>
        <input [(ngModel)]="role"
               matInput
               name="role" type="text">
      </mat-form-field>
    </form>

    <form class="form-group">
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input [(ngModel)]="password"
               matInput
               name="password"
               required type="password">
      </mat-form-field>
    </form>

  </form>
  <form>
    <button (click)="saveLogin()" mat-stroked-button style="align-self: center"> Speichern</button>
    <button (click)="abort()" mat-stroked-button style="align-self: center"> Abbrechen</button>
  </form>
</div>
