<div class="container">
  <form class="form-control" style="background-color: azure;">
    <form class="form-group">
      <mat-form-field>
        <mat-label>Aktennummer</mat-label>
        <input [(ngModel)]="filenumber"
               matInput
               name="filenumber"
               pattern="[0-9]+"
               required type="text">
      </mat-form-field>
    </form>

    <form class="form-group">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input [(ngModel)]="filename"
               matInput
               name="filename"
               required type="text"
        >
      </mat-form-field>
    </form>

    <form class="form-group">
      <mat-form-field>
        <mat-label>Thema</mat-label>
        <input [(ngModel)]="fileissue"
               id="fileissue"
               matInput
               name="fileissue"
               required type="text">

      </mat-form-field>
    </form>

  </form>
  <form>
    <button (click)="createFile()" mat-stroked-button style="align-self: center"> Anlegen</button>
    <button (click)="abort()" mat-stroked-button style="align-self: center"> Abbrechen</button>
  </form>
</div>
