<div>
  <button mat-stroked-button color="primary" type="submit" (click)="getPreviousEntry()"
          matTooltip="vorherige Akte aus der Liste aufrufen"> Vorherige Akte
  </button>
  <button mat-stroked-button color="primary" type="submit"
            (click)="saveEntry()"
          matTooltip="Info about the action"> Speichern
  </button>
  <button mat-stroked-button color="primary" (click)="reload()" matTooltip="Aktenänderungen verwerfen (Akte neu laden)">
    Verwerfen
  </button>
  <button mat-stroked-button color="warn" type="submit" (click)="archivEntry()"
          matTooltip="Akte archiveren (Akte wird nicht mehr aufgelistet)"> Archivieren
  </button>
  <button mat-stroked-button color="warn" type="submit" (click)="deleteEntry()" matTooltip="Akte komplett löschen">
    Löschen
  </button>
  <button mat-stroked-button color="primary" type="submit" (click)="listEntries()" matTooltip="Aktenliste aufrufen">
    Aktenliste
  </button>
  <button mat-stroked-button color="primary" type="submit" (click)="viewEntry()" matTooltip="Aktenübersicht aufrufen">
    Akte
  </button>
  <button #buttonPicker="appFilepicker" mat-raised-button color="primary" appFilepicker [multiple]="_multiple"
          (filesChanged)="_onFilesChanged($event)" (filesReset)="_onReset()"
          matTooltip="Unterlagen zur Akte hinzufügen">
    Unterlagen
  </button>
  <button mat-stroked-button color="primary" (click)="encryptFile()" matTooltip="Akte mit Passwort verschlüsseln">
    Verschlüsselung
  </button>
  <button mat-stroked-button color="primary" type="submit" (click)="getNextEntry()"
          matTooltip="nächste Akte aus der Liste aufrufen"> Nächste Akte
  </button>
  <button mat-button color="primary" (click)="about()" matTooltip="Info über das Programm aufrufen">Info</button>
  <button mat-stroked-button color="warn" (click)="administrate()"
          matTooltip="Administration aufrufen (Richtige Rolle notwendig)"> Administration
  </button>
  <button mat-stroked-button color="primary" (click)="getSupport()" matTooltip="Support für das Programm aufrufen">Support
  </button>
</div>

<div class="container">
  <h1> Personalakte Nr. {{currentFile.id}} </h1>

</div>
