<div>
  <button (click)="getPreviousEntry()" color="primary" mat-stroked-button
          matTooltip="vorherige Akte aus der Liste aufrufen"
          type="submit"> Vorherige Akte
  </button>
  <button (click)="saveEntry()" color="primary" mat-stroked-button
          matTooltip="Info about the action"
          type="submit"> Speichern
  </button>
  <button (click)="reload()" color="primary" mat-stroked-button matTooltip="Aktenänderungen verwerfen (Akte neu laden)">
    Verwerfen
  </button>
  <button (click)="archivEntry()" color="warn" mat-stroked-button
          matTooltip="Akte archiveren (Akte wird nicht mehr aufgelistet)"
          type="submit"> Archivieren
  </button>
  <button (click)="deleteEntry()" color="warn" mat-stroked-button matTooltip="Akte komplett löschen" type="submit">
    Löschen
  </button>
  <button (click)="listEntries()" color="primary" mat-stroked-button matTooltip="Aktenliste aufrufen" type="submit">
    Aktenliste
  </button>
  <button (click)="viewEntry()" color="primary" mat-stroked-button matTooltip="Aktenübersicht aufrufen" type="submit">
    Akte
  </button>
  <button #buttonPicker="appFilepicker" (filesChanged)="_onFilesChanged($event)" (filesReset)="_onReset()"
          [multiple]="_multiple" appFilepicker
          color="primary" mat-raised-button
          matTooltip="Unterlagen zur Akte hinzufügen">
    Unterlagen
  </button>
  <button (click)="encryptFile()" color="primary" mat-stroked-button matTooltip="Akte mit Passwort verschlüsseln">
    Verschlüsselung
  </button>
  <button (click)="getNextEntry()" color="primary" mat-stroked-button matTooltip="nächste Akte aus der Liste aufrufen"
          type="submit"> Nächste Akte
  </button>
  <button (click)="about()" color="primary" mat-button matTooltip="Info über das Programm aufrufen">Info</button>
  <button (click)="administrate()" color="warn" mat-stroked-button
          matTooltip="Administration aufrufen (Richtige Rolle notwendig)"> Administration
  </button>
  <button (click)="getSupport()" color="primary" mat-stroked-button matTooltip="Support für das Programm aufrufen">
    Support
  </button>
</div>

<div class="container">
  <h1> Personalakte Nr. {{currentFile.id}} </h1>

</div>
